  <div class="jumbotron container">
    <div class="row">
      <div class="col-lg-4">
        <div class="rounded-circle mx-auto " style="background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNUXvXoPwAFVwKwAkAuXgAAAABJRU5ErkJggg==); width: 140px; height: 140px; display: flex; align-items: center; flex-wrap: wrap; margin-bottom: 1rem;">
          <img class="mx-auto" src="../assets/new_job.png" width="80">
        </div>
            <h2>New Job</h2>
            <p class="h-25">Start a new analysis job by providing traces and other supporting information.</p>
            <p><a class="btn btn-secondary" routerLink="/new" routerLinkActive="active">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <div class="rounded-circle mx-auto " style="background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNUXvXoPwAFVwKwAkAuXgAAAABJRU5ErkJggg==); width: 140px; height: 140px; display: flex; align-items: center; flex-wrap: wrap; margin-bottom: 1rem;">
          <img class="mx-auto" src="../assets/my_jobs.png" width="100">
        </div>
            <h2>My Jobs</h2>
            <p class="h-25">List all my analysis jobs and provide detailed report for each analysis job.</p>
            <p><a class="btn btn-secondary" routerLink="/jobs" routerLinkActive="active">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <div class="rounded-circle mx-auto " style="background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNUXvXoPwAFVwKwAkAuXgAAAABJRU5ErkJggg==); width: 140px; height: 140px; display: flex; align-items: center; flex-wrap: wrap; margin-bottom: 1rem;">
          <img class="mx-auto" src="../assets/search.png" width="80">
        </div>
            <h2>Search</h2>
            <p class="h-25">Search for all known issues by providing different conditions.</p>
            <p><a class="btn btn-secondary" routerLink="/search" routerLinkActive="active">View details &raquo;</a></p>
      </div>

      
  <!--    <div class="col-lg-3">
        <div class="rounded-circle mx-auto " style="background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNUXvXoPwAFVwKwAkAuXgAAAABJRU5ErkJggg==); width: 140px; height: 140px; display: flex; align-items: center; flex-wrap: wrap; margin-bottom: 1rem;">
          <img class="mx-auto" src="../assets/search.png" width="80">
        </div>
            <h2>Download</h2>
            <p class="h-25">Download the assist tools you needed.</p>
            <p><a class="btn btn-secondary" routerLink="/download" routerLinkActive="active">View details &raquo;</a></p>
      </div>
    -->
      <!-- <div class="col-lg-3">
        <div class="rounded-circle mx-auto " style="background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNUXvXoPwAFVwKwAkAuXgAAAABJRU5ErkJggg==); width: 140px; height: 140px; display: flex; align-items: center; flex-wrap: wrap; margin-bottom: 1rem;">
          <img class="mx-auto" src="../assets/analysis.png" width="80">
        </div>
            <h2>Analyzer</h2>
            <p class="h-25">Provide online display of traces and codes to help for issue debugging.</p>
            <p><a class="btn btn-secondary" routerLink="/jobs" routerLinkActive="active">View details &raquo;</a></p>
      </div> -->
    </div>
  </div>