<table class="table table-bordered ">
<thead>
</thead>
<tbody>
   
    <tr border="0">
        <td><a class="card-link col-form-label-sm font-weight-bold" href="/dl/CadTraceUploader.zip" target="_blank">Trace Upload Tool</a></td>
    </tr>
    
    <tr border="0">
        <td><a class="card-link col-form-label-sm font-weight-bold" href="/dl/CAD4OneFix_Chrome_FireFox.zip" target="_blank">CAD OneFix plugin for Chrome and Firefox</a></td>
    </tr>

    <tr border="0">
        <td><a class="card-link col-form-label-sm font-weight-bold" href="/dl/CAD4OneFix_Windows_Edge.zip" target="_blank">CAD OneFix plugin for Edge</a></td>
    </tr>
   

</tbody>
</table>



<!--
<p>
<h>Pattent Generate Tool Download</h>
<a href="C:\Program Files (x86)\Citrix\ICA Client">C:\Program Files (x86)\Citrix\ICA Client</href>
</p>

-->